:root {
    --white: #F1FAEE;
    --light-gray: #A8DADC;
    --light-gray-low-opacity: rgba(168, 218, 220, .5);
    --light-blue: #457B9D;
    --blue: #1D3557;
    --blue-low-opacity: rgba(29, 53, 87, .5);
    --red: #E63946;
    --red-low-opacity: rgba(230, 57, 70, .5);
}


body {
    min-height: 50vh;
    
    flex-direction: column;
    display: flex;
}
main {
    min-height: 100vh;
    background-color: var(--white);
    flex-grow: 1;
    
}
header {
    height: 10vh;
    background-color: var(--light-blue);
}
footer {
    height: 10vh;
    background-color: var(--light-blue) !important;
}
.upgrade-format {
    width: 200px;
    height: 200px;
}
#sheep-img {
    cursor: pointer;
    width: 250px;
    height: 250px;
}
#count-display {
    width: fit-content;
    border-style: solid;
    border-width: 5px;
    border-color: var(--blue);
    padding: 4px 8px 4px 8px;
    margin: auto;
}
.cannot-afford {
     filter: drop-shadow(0px 0px 20px var(--red-low-opacity)  ) !important;
     border-color: var(--red) !important;
}
.upgrade-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: var(--light-blue);
}
.upgrade-card {
    width: fit-content;
}
.upgrade-description {
    width: 200px !important;
    margin: auto;
}
#sheep-img {
    transition: all 150ms;
}
#sheep-img:active {
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,.5)) !important;
    transform: scale(1.15);
    transition: all 100ms;
}
.sheep-img-scale {
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,.5)) !important;
    transform: scale(1.15);
}
.upgrade-description-container {
    justify-content: space-between;
    color: var(--blue);
    height: 100%;
    width: 100%;
    opacity: 0;
   transition: 300ms;
}
.upgrade-description-container:hover {
    
    transition: all 250ms;
    background-color: var(--light-gray-low-opacity);
    opacity: 1;
}
.upgrade-description {
    width: 160px !important;
    font-weight: 400;   
}
.default-cursor {
    cursor: default !important;
}
#sheep-column {
    width: fit-content !important;
}
#immersive-mode-display {
    height: fit-content;
    width: fit-content;
    padding: 2px 5px 2px 5px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--blue);
    font-weight: 600;
}
.display-none {
    display: none !important;
}
.upgrade-button {
    transition: all 150ms;
    margin: auto !important;
    
}
.upgrade-button:enabled {
    transition: all 100ms;
    border-style: solid;
    border-width: 3px;
    border-color: var(--light-blue);
}
.upgrade-button:enabled:hover {
    transform: scale(4);
    transition: all 100ms;
    box-shadow: 2px 2px 15px 4px var(--blue-low-opacity) !important;
    transform: scale(1.2);
    transition: all 150ms;
}

.card-shadow {
    transition: all 100ms;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, .5);
}
